.homeTool {
  overflow-x: scroll;
}

.homeTool::-webkit-scrollbar {
  all: unset;
}
.homeBottomTool {
  margin-left: 20px;
}
.loading {
  width: 250px;
}

.movieTool {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 0px 0px;
}
.title {
  all: unset;
  position: fixed;
  font-size: 23px;
  font-weight: 700;
}

.smallTitle {
  font-weight: 600;
  font-size: 18px;
}
