.homeBottomTool {
  margin: 50px 98px;
}

.homeTool {
  display: flex;
  justify-content: center;
}
.homeTool > h1 {
  color: #e6e6e6;
  font-weight: 800;
  font-size: 35px;
}

.title {
  color: #e6e6e6;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
}

.movieTool {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  align-items: stretch;
  justify-items: stretch;
}

.cf {
  margin: 50px 0px;
}

.cf > img {
  width: 100%;
}

.eventTool {
  display: flex;
}

.eventTool__img {
  position: relative;
  border-radius: 0.25rem;
  max-width: 430px;
  margin-right: 18px;
  margin-bottom: 30px;
  cursor: pointer;
}
