.navContainer {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(21, 21, 21, 0.85);
}

.navTopTool {
  display: flex;
  width: 100%;
  height: 30px;

  padding: 0px 40px;
  background-color: rgba(44, 46, 46, 0.5);
}
.navTopTool__link {
  all: unset;
  color: #949595;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  margin-right: 5px;
}

.navBottomTool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px;
}

.navBottomTool__logo {
  color: white;
  cursor: pointer;

  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  font-weight: 800;
}

.navBottomToolCenter__link {
  all: unset;
  color: rgb(255, 255, 255, 0.8);
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin-right: 50px;
}
