@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
  background-color: #141414;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

button,
img,
a {
  all: unset;
}

ul,
li {
  list-style: none;
}
